# True for development, False for production
DEBUG=True

# Django Secret KEY
SECRET_KEY=S3cr3t_K#Key

# Deployment SERVER address
SERVER=.appseed-srv1.com

# Used for CDN (in production)
# No Slash at the end
ASSETS_ROOT=/static/assets

# For MySql Persistence
# DB_ENGINE=mysql
# DB_NAME=
# DB_HOST=localhost
# DB_PORT=3306
# DB_USERNAME=
# DB_PASS=

# GITHUB_ID=<GITHUB_ID_HERE>
# GITHUB_SECRET=<GITHUB_SECRET_HERE>

# TWITTER_ID=<TWITTER_ID_HERE>
# TWITTER_SECRET=<TWITTER_SECRET_HERE>
