{% extends "layouts/base-fullscreen.html" %}
{% load static %}

{% block title %} Sign IN {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Section -->
    <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="{% static 'assets/img/pages/form-image.jpg' %}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h2 class="mb-0 h3">
                                Sign IN
                            </h2>
                            <p class="text-center">
                                {% if msg %}
                                    <span class="text-danger">{{ msg | safe }}</span>
                                {% else %}
                                    Add your credentials
                                {% endif %}  
                            </p>                              
                        </div>

                        <div class="text-center text-md-center mb-4 mt-md-0">

                            {% if github_login %}
                                <form method="post" action="/social_login/github/login/?next=%2F">{% csrf_token %}
                                    <button class="btn btn-github" type="submit" aria-label="github button" title="Github Sign IN">
                                        <span aria-hidden="true" class="fab fa-github"></span> Github SignIN
                                    </button>
                                </form>
                            {% endif %}
                            
                            <br />

                            {% if twitter_login %}
                                <form method="post" action="/social_login/twitter/login/?next=%2F">{% csrf_token %}
                                    <button class="btn btn-twitter" type="submit" aria-label="twitter button" title="Twitter Sign IN">
                                        <span aria-hidden="true" class="fab fa-twitter"></span> Twitter SignIN
                                    </button>
                                </form>
                            {% endif %}                            
    
                        </div>

                        <form method="post" action="" class="mt-4">
                            
                            {% csrf_token %}

                            <!-- Form -->
                            <div class="form-group mb-4">
                                <label for="email">Email</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><span class="fas fa-user"></span></span>
                                    {{ form.email }}
                                </div>  
                            </div>
                            <!-- End of Form -->
                            <div class="form-group">
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="password">Password</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon2"><span class="fas fa-unlock-alt"></span></span>
                                        {{ form.password }}
                                    </div>  
                                </div>
                                <!-- End of Form -->
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="checkbox" value="" id="remember">
                                        <label class="form-check-label mb-0" for="remember">
                                            Remember me
                                        </label>
                                    </div>
                                    <div><a href="#" class="small text-right">Lost password?</a></div>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" name="login" class="btn btn-block btn-primary">Sign in</button>
                            </div>
                        </form>
                        <div class="d-flex justify-content-center align-items-center mt-4">
                            <span class="font-weight-normal">
                                Not registered?
                                <a href="{% url 'register' %}" class="font-weight-bold">Create account</a>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-12 d-flex align-items-center justify-content-center">
                    <br />    
                </div>
            </div>
        </div>
    </section>
        
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
