{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Dashboard Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-light navbar-transparent navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <div class="section section-lg pt-5 pt-md-7 bg-gray-200">
        <div class="container">
            <div class="row pt-5 pt-md-0">

                {% include 'includes/dashboard-sidebar.html' %}

                <div class="col-12 col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-body bg-white border-gray-300 mb-4">
                                <h2 class="h5 mb-4">General information</h2>
                                <form id="changeInfoForm" action="">{% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="mb-3">
                                                <label for="first_name">First Name</label>
                                                <input name="first_name" value="{{ request.user.first_name }}" class="form-control" id="first_name" type="text" placeholder="Enter your first name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="mb-3">
                                                <label for="last_name">Last Name</label>
                                                <input class="form-control" value="{{ request.user.last_name }}" id="last_name" name="last_name" type="text" placeholder="Also your last name" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-md-6 mb-3">
                                            <div class="mb-3">
                                                <label for="birthday">Birthday</label>
                                                <input class="form-control" value="{% if request.user.birthday %}{{ request.user }}{% endif %}" data-datepicker="" placeholder="Select your birth date" type="text" name="birthday" id="birthday">
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="gender">Gender</label>
                                            <select class="form-select" id="gender" name="gender" aria-label="Default select example">
                                                <option value="0">Female</option>
                                                <option value="1">Male</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="mb-3">
                                                {% if request.user.email %}
                                                    <label for="email">Email</label>
                                                {% else %}
                                                    <label class="text-danger" for="email">Email (not provided)</label>
                                                {% endif %}
                                                <input {% if request.user.email %}readonly="readonly"{% endif %} 
                                                       class="form-control {% if not request.user.email %} is-invalid {% endif %}" 
                                                       value="{{ request.user.email }}" id="email" name="email" type="email" placeholder="name@company.com">
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="mb-3">
                                                <label for="phone">Phone</label>
                                                <input class="form-control" value="{{ request.user.phone }}" id="phone" name="phone" type="number" placeholder="+12-345 678 910">
                                            </div>
                                        </div>
                                    </div>
                                    <h2 class="h5 my-4">Location</h2>
                                    <div class="row">
                                        <div class="col-sm-9 mb-3">
                                            <div class="mb-3">
                                                <label for="address">Address</label>
                                                <input class="form-control" id="address" value="{{ request.user.address }}" name="address" type="text" placeholder="Enter your home address">
                                            </div>
                                        </div>
                                        <div class="col-sm-3 mb-3">
                                            <div class="mb-3">
                                                <label for="number">Number</label>
                                                <input class="form-control" value="{{ request.user.number }}" id="number" name="number" type="number" placeholder="No.">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 mb-3">
                                            <div class="mb-3">
                                                <label for="city">City</label>
                                                <input class="form-control" value="{{ request.user.city }}" id="city" name="city" type="text" placeholder="City">
                                            </div>
                                        </div>
                                        <div class="col-sm-4 mb-3">
                                            <label for="country2">Country</label>
                                            <select class="form-select" id="country2" name="country" aria-label="Default select example">
                                                <option>United States</option>
                                                <option>Germany</option>
                                                <option>France</option>
                                                <option>Spain</option>
                                                <option>Italy</option>
                                                <option>Russia</option>
                                                <option>Japan</option>
                                                <option>India</option>
                                                <option>China</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="mb-3">
                                                <label for="zip">ZIP</label>
                                                <input value="{{ request.user.zipcode }}" class="form-control" id="zip" name="zipcode" type="tel" placeholder="ZIP">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-2 d-flex gap-3">
                                        <div>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>   
                                        <div class="d-flex align-items-center">
                                            <p id="info-alert" class="text-danger mb-0"></p></div>                                     
                                    </div>
                                </form>
                            </div>
                            <div class="card card-body bg-white border-gray-300 mb-4">
                                <form id="changeAvatarForm" enctype="multipart/form-data">
                                <h2 class="h5 mb-4">Select profile photo</h2>
                                <div class="row align-items-center">
                                    <div class="col-lg-1 mb-2 mb-lg-0">
                                        <!-- Avatar -->
                                        <div class="avatar-lg">
                                            <img class="rounded-circle" id="avatar-img" src="{% if user.image%}{{user.image}}{% else %}{% static 'assets/img/team/profile-picture-3.jpg' %}{% endif %}" alt="change avatar">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-3 mb-lg-0">
                                        <div class="h6 mb-0 ms-lg-3">Your avatar</div>
                                        <small class="text-gray ms-lg-3">JPG, GIF or PNG. Max size of 800K</small>
                                    </div>
                                    <div class="col-lg-5">
                                        <!-- Form -->
                                        <div class="mb-3">
                                            <label for="formFile" class="form-label">Default file input example</label>
                                            <input name="avatar" class="form-control" type="file" id="avatar-input" accept="image/*">
                                        </div>
                                        <!-- End of Form -->
                                    </div>
                                </div>
                                <div class="mt-2 d-flex gap-3">
                                    <div><button type="submit" class="btn btn-primary">Save</button></div>
                                    <div class="d-flex align-items-center"><p id="avatar-alert" class="mb-0"></p></div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        document.getElementById('changeInfoForm').onsubmit = (e) => {

            e.preventDefault()
            const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value
            const alert     = document.getElementById('info-alert')

            fetch (`/user_profile/`, {
                method: "POST",
                body: new FormData(e.target),
                headers: {'X-CSRFToken' : csrfToken}
            })
                .then((response) => {
                    if(!response.ok) {
                        return response.text().then(text => { throw new Error(text) })
                    } else {
                        return response.text()
                    }
                })
                .then((result) => {
                    //location.reload()
                    alert.textContent = 'Profile updated successfully.';
                    alert.classList.remove('text-danger');
                    alert.classList.add('text-success');
                })
                .catch((err) => {
                    const error = JSON.parse(err.toString().replace('Error: ','')).errors;
                    alert.textContent = error;
                    alert.classList.remove('text-success');
                    alert.classList.add('text-danger');
                })
        }

        // avatar
        document.getElementById('avatar-input').onchange = (e) => {
            document.getElementById('avatar-img').setAttribute('src', URL.createObjectURL(e.target.files[0]))
        }

        document.getElementById('changeAvatarForm').onsubmit = (e) => {

            e.preventDefault()
            const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value
            const alert     = document.getElementById('avatar-alert')

            fetch (`/upload_avatar/`, {
                method: "POST",
                body: new FormData(e.target),
                headers: {'X-CSRFToken' : csrfToken}
            })
                .then((response) => {
                    if(!response.ok) {
                        return response.text().then(text => { throw new Error(text) })
                    } else {
                        return response.text()
                    }
                })
                .then((result) => {
                    location.reload()
                })
                .catch((err) => {
                    const error = JSON.parse(err.toString().replace('Error: ','')).errors
                    alert.textContent = error
                    alert.classList.remove('d-none');
                    alert.classList.add('text-danger');
                })
        }
    </script>
{% endblock javascripts %}
